[submodule "word-embeddings-benchmarks"]
	path = word_embeddings_benchmarks
	url = https://github.com/kage08/word-embeddings-benchmarks.git
[submodule "retrofitting"]
	path = retrofitting
	url = https://github.com/kage08/retrofitting.git
